html {
    height: 100%;
}

.copyright {
    position: absolute;
    font-weight: 100;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 20px;
    height: 20px;
}

a {
    text-decoration: none;
}

.github-link {
    float: right;
}

.github-link img {
    height: 44px;

    -webkit-transition: all 0.3s ease; /* Safari and Chrome */
    -moz-transition: all 0.3s ease; /* Firefox */
    -ms-transition: all 0.3s ease; /* IE 9 */
    -o-transition: all 0.3s ease; /* Opera */
    transition: all 0.3s ease;
}

.github-link img:hover {
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -ms-filter: brightness(70%);
    -o-filter: brightness(70%);
    filter: brightness(70%);

    -webkit-transition: all 0.3s ease; /* Safari and Chrome */
    -moz-transition: all 0.3s ease; /* Firefox */
    -ms-transition: all 0.3s ease; /* IE 9 */
    -o-transition: all 0.3s ease; /* Opera */
    transition: all 0.3s ease;

    cursor: pointer;
}

section {
    padding: 20px 20px 0 20px;
}

.section-title {
    font-size: 28px;
}


.subsection {
    margin: 10px 0;
}

.subsection-title {
    font-size: 18px;
}

.example-code, .example-chart {
    width: 47%;
    float: left;
    margin: 15px;
}

.example-code pre {
    width: 500px;
    height: 300px;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}